[package]
name = "eso-addon-manager"
version = "0.4.10"
authors = [
    "arviceblot <github@relay.arviceblot.com>",
    "Damian Czaja <trojan295@protonmail.com>",
]
edition = "2021"
license = "MIT"
repository = "https://github.com/arviceblot/eso-addons"

[workspace]
members = [".", "core", "entity", "migration"]
# members = [".", "cli", "core", "entity", "migration"]

[[bin]]
name = "eso-addon-manager"
path = "src/main.rs"

[package.metadata.appimage]
auto_link = true
auto_link_exclude_list = ["libc.so*", "libdl.so*", "libpthread.so*"]
args = [
    "-u",
    "gh-releases-zsync|arviceblot|eso-addons|latest|eso-addon-manager-*x86_64.AppImage.zsync",
]

[dependencies]
eframe = "0.27.2"
tokio = { version = "1.38.0", features = ["full"] }
eso-addons-core = { path = "./core" }
strum = "0.26.2"
strum_macros = "0.26.3"
itertools = "0.12.0"
lazy_async_promise = "0.5.0"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
dotenv = "0.15.0"
bbcode-tagger = "0.2.0"
egui_extras = { version = "*", features = ["all_loaders"] }
image = { version = "0.24.9", features = ["jpeg", "png"] }
rfd = "0.13.0"
hostname = "0.4.0"
