[package]
name = "eso-addons-core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
dirs = "4.0"
regex = "1"
scraper = "0.14.0"
tempfile = "3.1"
requestty = "0.5"
colored = "2"
prettytable-rs = "^0.10"
walkdir = "2"
toml = "0.7"
reqwest = { version = "0.11", features = ["gzip", "json"] }
tokio = { version = "1", features = ["full"] }
snafu = { version = "0.7.4",  features = ["backtrace"]}
zip = "0.6"
hostname = "^0.3"
sea-orm = { version = "^0", features = [ "sqlx-sqlite", "runtime-tokio-rustls", "macros" ] }
migration = { path = "../migration" }
entity = { path = "../entity" }
chrono = "0.4.23"
tracing = "0.1.37"
lazy_async_promise = "0.3.1"
